.bigdivider {
  height: 5px;
  width:100%;
  display:block; 
  margin: 15px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.selected {
  font-weight: bold;
  /*font-size: 110%;*/
}

.pointer {
    cursor: pointer;
}


.text-center {
  text-align: center;
}