<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en" ng-app="alumniApp">

	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="initial-scale=1, user-scalable=no, maximum-scale=1, width=device-width">
	    <meta name="mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <title>Alumni Graph</title>

	    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">-->
	    <link rel="stylesheet" href="static/bootstrap.min.css">
	    <link rel="stylesheet" href="static/ngActivityIndicator.min.css">
	    <link rel="stylesheet" href="static/alumni-styles.css">


	    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
	    <script src="static/angular.min.js"></script>
	    <script src="static/angular-file-upload.min.js"></script>
	    <script src="static/ngActivityIndicator.min.js"></script>
	    <script src="static/alumni-app.js"></script>
	    <script src="static/alumni-factory.js"></script>

	</head>

	<body ng-controller="MainController">

		<div class="container">
			<br>
			<div class="row">
				
				<div class="col-sm-4">
					<h2 class="text-center">Config</h2>

					<div class="bigdivider"></div>

					<div class="row text-center">
						<div class="col-sm-4 pointer" ng-click="tab.value=1" ng-class="{'selected':tab.value==1}">View</div>
						<div class="col-sm-4 pointer" ng-click="tab.value=2" ng-class="{'selected':tab.value==2}">Search</div>
						<div class="col-sm-4 pointer" ng-click="tab.value=3" ng-class="{'selected':tab.value==3}">Create</div>
					</div>

					<div class="bigdivider"></div>

					<div ng-if="tab.value==1">
						<p>You are in View</p>
						<p>Showing all data</p>
					</div>

					<div ng-if="tab.value==2">You are in Search</div>

					<div ng-if="tab.value==3">You are in Create</div>

				</div>

				<div class="col-sm-7">
					<h2 class="text-center">Graph</h2>

					<div class="bigdivider"></div>

					<div>
						<h4>Nodes</strong></h4>
						<p>count: [[all_nodes.length]]</p>
						<p ng-repeat="node in all_nodes">[[node]]</p>
					</div>
					<br>
					<div>
						<h4>Relationships</h4>
						<p>count: [[all_rels.length]]</p>
						<p ng-repeat="rel in all_rels">[[rel]]</p>
					</div>
				</div>

				<div class="col-sm-1">
		        	<span ng-activity-indicator></span>
		        </div>

			</div>
		</div><!-- end of container -->

	</body>
</html>